<%- include('partials/header') -%>

    <section class="home-container">
        <div class="title-container">
            <div class="title">Open</div>
            <div style="margin-left: 86px;" class="title">Library</div>
        </div>
    </section>
    <section class="list-container">
        <div class="bookmark-container">
            <div class="title">BOOK LIST</div>
        </div>
        <div class="container cards-container">
            <div class="filters">
                <div><img src="images/elements/settings.svg" alt=""></div>
                <div><img src="images/elements/add.svg" alt=""></div>
            </div>
            <div>
                <div class="grid-container">
                    <% for(var x=0; x<=5;x++){ %>
                        <div class="card" >
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="..." class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <div class="rating-circle-full"></div>
                                        <p class="card-text">This is a wider card with supporting text below as a natural
                                            lead-in to
                                            additional content. This content is a little bit longer.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>

                </div>
                <nav aria-label="Page navigation example" class="pagination-container">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <section class="add-container">
        <div class="bookmark-container">
            <div class="title">ADD BOOK</div>
        </div>
        <div class="form-container">
            <div class="add-form">
                <input type="text" name="" id="">
                <input type="text" name="" id="">
                <input type="file" src="" alt="">
            </div>
        </div>
    </section>
    <div class="footer">
        <p>&copy; Lara Misia Forlani</p>
    </div>

    <%- include('partials/footer') -%>