<%- include('partials/header') -%>

<div class="container">
    <div class="title-container">
        <div>
            <div>Open</div> <div style="margin-left: 86px;">Library</div>
        </div>
    </div>
    <div class="footer">
        <p>&copy; Lara Misia Forlani</p>
    </div>
</div>

<%- include('partials/footer') -%>