body {
    font-family: "Inria Serif", serif !important;
    margin: 0;
}

.title {
    color: white;
}

.home-container {
    background-image: url("./images/background.png");
    height: 100vh;
}

.title-container {
    width: 50%;
    font-size: 134px;
    padding-top: 141px;
    padding-left: 143px;
}

.list-container {
    margin-top: 5%;
}

.bookmark-container {
    width: 38%;
    height: 0;
    box-sizing: border-box;
    border: 1px solid #034C8C;
    border-right: 25px solid transparent;
    border-left: none;
    border-top: 50px solid #034C8C;
    border-bottom: 50px solid #034C8C;
    display: flex;
    align-items: center;
    font-size: 40px;
    padding-left: 41px;
}

.cards-container{
    margin-top: 53px !important;
    margin-left: 25px !important;
    /* margin-right: 25px !important; */
    display: flex;
    justify-content: space-between;
}

.filters div{
    width: 40px;
    height: 40px;
    background-color: #034C8C;
    margin-bottom: 14px;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    max-width: 403px !important;
}

.rating-circle-full{
    margin-bottom: 7px;
    border-radius: 8px;
    width: 12px;
    height: 12px;
    background-color: purple;
}

.rating-circle-empty{
    margin-bottom: 7px;
    border-radius: 8px;
    width: 12px;
    height: 12px;
    border: 1.5px solid purple;
}